## Real-Time Movie Management System

*Uses Python with Sqlite library to interact with a local database.

<br>

In [1]:


#!/usr/bin/python

import sqlite3

In [2]:
conn = sqlite3.connect('movies.db')
print('Connected successful to the database')

Connected successful to the database

In [3]:
moviec=3
conn.execute(''' CREATE TABLE IF NOT EXISTS Movies(id int primary key, moviename text not null,Seats int ,price int);''')
print('\nMovie Theater Active')

Movie Theater Active

In [6]:
def newmovie(_id,mname,tseats,_price):
        #print(' Insert Into Movies(id,moviename, Seats,price) Values({:d},"{}",{:d},{:d});'.format(_id,mname,tseats,_price))
    conn.execute(' Insert Into Movies(id,moviename, Seats,price) Values({},"{}",{},{});'.format(_id,mname,tseats,_price))

In [7]:

def showmoviesall():
    print('\nAll Movies Played')

    cursor= conn.execute(''' Select id,moviename, Seats,price From Movies ''')
    for row in cursor:
        print('Movie Id:', row[0])
        print('Movie Name:', row[1])
        print('Seats Available', row[2])
        print('Ticket Price:', row[3])

In [8]:

def showmovie(id):
    cursor= conn.execute(''' Select id,moviename, Seats,price From Movies where id is {} '''.format(id))
    print("\nMovie chosen is {}".format(cursor.fetchone()[1]))
    cursor= conn.execute(''' Select id,moviename, Seats,price From Movies where id is {} '''.format(id))
    for row in cursor:
        print('Movie Id:', row[0])
        print('Movie Name:', row[1])
        print('Seats Available', row[2])
        print('Ticket Price:', row[3])

In [9]:
def fetchseat(id):def removemovie(id):
    conn.execute('''Delete From Movies Where id is {} '''.format(id))
    cursor= conn.execute(''' Select Seats From Movies where id is {} '''.format(id))
    return(cursor.fetchone()[0])

In [10]:
def book(id,seat):
    conn.execute('''Update Movies Set Seats ={} where id is {}; '''.format(fetchseat(id)-seat,id))

In [11]:
def refundseat(id,seat):
    conn.execute('''Update Movies Set Seats ={} where id is {}; '''.format(fetchseat(id)+seat,id))

def removemovie(id):
    conn.execute('''Delete From Movies Where id is {} '''.format(id))

In [12]:
if __name__== '__main__':


    movies = [
        (1,"The Hunger Games: Catching Fire", 100,120),
        (2,"Wreck-It Ralph", 70,100),
        (3,"Her", 80,122)
        ]

    '''conn.executemany(""" INSERT INTO Movies(
    movie_name, movie_rating) VALUES(?,?)
    """, movies)'''
    conn.commit()

In [13]:
    showmoviesall()

All Movies Played
('Movie Id:', 1)
('Movie Name:', u'The Hunger Games: Catching Fire')
('Seats Available', 100)
('Ticket Price:', 120)
('Movie Id:', 2)
('Movie Name:', u'Wreck-It Ralph')
('Seats Available', 70)
('Ticket Price:', 100)
('Movie Id:', 3)
('Movie Name:', u'Her')
('Seats Available', 80)
('Ticket Price:', 122)

In [14]:
    moviec+=1
    newmovie(moviec,"AmericanPie",120,200)

In [15]:
    moviec+=1
    newmovie(moviec,"La La Land",100,80)

In [16]:
    showmoviesall()

All Movies Played
('Movie Id:', 1)
('Movie Name:', u'The Hunger Games: Catching Fire')
('Seats Available', 100)
('Ticket Price:', 120)
('Movie Id:', 2)
('Movie Name:', u'Wreck-It Ralph')
('Seats Available', 70)
('Ticket Price:', 100)
('Movie Id:', 3)
('Movie Name:', u'Her')
('Seats Available', 80)
('Ticket Price:', 122)
('Movie Id:', 4)
('Movie Name:', u'AmericanPie')
('Seats Available', 120)
('Ticket Price:', 200)
('Movie Id:', 5)
('Movie Name:', u'La La Land')
('Seats Available', 100)
('Ticket Price:', 80)

In [17]:
    showmovie(2)

Movie chosen is Wreck-It Ralph
('Movie Id:', 2)
('Movie Name:', u'Wreck-It Ralph')
('Seats Available', 70)
('Ticket Price:', 100)

In [18]:
    book(2,3)

In [19]:
    showmovie(2)

Movie chosen is Wreck-It Ralph
('Movie Id:', 2)
('Movie Name:', u'Wreck-It Ralph')
('Seats Available', 67)
('Ticket Price:', 100)

In [20]:
    refundseat(2,3)

In [21]:
    showmovie(2)

Movie chosen is Wreck-It Ralph
('Movie Id:', 2)
('Movie Name:', u'Wreck-It Ralph')
('Seats Available', 70)
('Ticket Price:', 100)

In [22]:
    removemovie(4)

In [23]:
    showmoviesall()

All Movies Played
('Movie Id:', 1)
('Movie Name:', u'The Hunger Games: Catching Fire')
('Seats Available', 100)
('Ticket Price:', 120)
('Movie Id:', 2)
('Movie Name:', u'Wreck-It Ralph')
('Seats Available', 70)
('Ticket Price:', 100)
('Movie Id:', 3)
('Movie Name:', u'Her')
('Seats Available', 80)
('Ticket Price:', 122)
('Movie Id:', 5)
('Movie Name:', u'La La Land')
('Seats Available', 100)
('Ticket Price:', 80)